@font-face {
	font-family: 'Jester';	
	src: local('�?�'), url('../fonts/Jester.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html
{
    overflow: hidden;
    content-zooming: none;
    -ms-content-zooming: none;
    -webkit-content-zooming: none;
    -moz-content-zooming: none;
    /* Windows Phone */
    -ms-text-size-adjust: auto;
    user-scalable: none;
}

body
{
    font-family: Jester;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 0px;
    margin: 0px;
}

select
{
    font-family: "Jester";    
}

body *
{
    transition-property: *;
    transition-duration: 1s;
    -ms-transition-property: *;
    -ms-transition-duration: 1s;
    -webkit-transition-property: *;
    -webkit-transition-duration: 1s;
    -moz-transition-property: *;
    -moz-transition-duration: 1s;
    font-size: 12pt;
}

canvas#backgroundGradient
{
    position: fixed;
    top: -12%;
    left: -200px;
}

div#sceneContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
    overflow: hidden;
    text-align: right;
}

div#snowmanContainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    margin-left: -990px;
    //bottom: -20px;
    //left: 50%;
    //right: 50%;
    //margin-left: -10%;
    //width: 750px;
}

svg#snowHeap
{
    position: absolute;
    bottom: -5%;
    height: 5%;
}

canvas#snowflakesCanvas
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* prevent default touch actions such as zoom */
    -ms-touch-action: none;
    z-index: 1000;
}

/* basic classes */

.hidden
{
    display: none;
}

/* system information */

div.si
{
    color: black;
    position: absolute;
    bottom: 10px;
    display: block;
}

div#systemInformation
{
    left: 10px;
}

div.si span
{
    text-shadow: 0px 0px 1px white;
}

div#systemInformationFps
{
    right: 10px;
}

span#siFps
{
    font-weight: bold;        
    font-size: 24pt;
}

/* postcard */

div#postcardContainer
{
    overflow: visible;
    width: 100%;
    height: 100%;
}

div#postcard
{
    position: absolute;
    margin-left: -200px;
    bottom: 35px;
    width: 210px;
    height: 280px;
    background-color: transparent;
    background-image: url("Message2.png");
    background-repeat: no-repeat;
    background-position: 40% 45%;
    background-size: 210px 280px;
    z-index: 2;
}

p#hint
{
    position: absolute;
    left: 50%;
    margin-left: -154px;
    font-size: 20pt;
    max-width: 350px;
    text-align: center;
    color: rgba(0,0,0,0.45);
    opacity: 0.0;
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transition-property: opacity;
    transition-duration: 0.5s;
    -ms-transition-property: opacity;
    -ms-transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.5s;
    bottom: 5%;
    z-index: 100;
}

div#postcard canvas
{
    position: absolute;
    top: 0px;
    left: 0px;
}

canvas.clearedSnowCanvas
{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1.0;
    z-index: 100;
}

#blizzardContainer{
    overflow: hidden;
}

img#snowman{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -540px 0 0 -990px;
}

@media screen and (orientation: portrait) and (max-device-width: 768px) {

    div#postcard{
        right: 3%;
        bottom: 20%;
    }

    @-ms-viewport {
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

@media screen and (orientation: landscape) and (max-device-width: 768px) {

    @-ms-viewport {
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }

    img#snowman{
        width: 480px;
        max-height: 480px;
        margin: -120px 0 0 -240px;

    }
    div#postcard{
        right: 5%;
        bottom: 3%;
        max-height: 100%;
    }
}

@media screen and (min-device-width: 1280px) {
    img#snowman{
        height: 1080px;
        max-height: 1080px;
    }
}

