html
{
    overflow: hidden;
    content-zooming: none;
    -ms-content-zooming: none;
    -webkit-content-zooming: none;
    -moz-content-zooming: none;
    /* Windows Phone */
    -ms-text-size-adjust: auto;
    user-scalable: none;
}

body
{
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 0px;
    margin: 0px;
}

body *
{
    transition-property: *;
    transition-duration: 1s;
    -ms-transition-property: *;
    -ms-transition-duration: 1s;
    -webkit-transition-property: *;
    -webkit-transition-duration: 1s;
    -moz-transition-property: *;
    -moz-transition-duration: 1s;
    font-size: 12pt;
}

div#sceneContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
    overflow: hidden;
    text-align: right;
}

div#snowmanContainer
{
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -990px;
}

img#snowman
{
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    background-repeat: no-repeat;
}

@media screen and (min-device-width: 769px) {
    img#snowman
    {
        width: 1920px;
        height: 1080px;
        background-image: url("../images/bg.png");
    }
}

canvas#snowflakesCanvas
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* prevent default touch actions such as zoom */
    -ms-touch-action: none;
    z-index: 1000;
}

/* basic classes */

.hidden
{
    display: none;
}

/* system information */

div.si
{
    color: black;
    position: absolute;
    bottom: 10px;
    display: block;
}

div#systemInformation
{
    left: 10px;
}

div.si span
{
    text-shadow: 0px 0px 1px white;
}

div#systemInformationFps
{
    right: 10px;
}

span#siFps
{
    font-weight: bold;        
    font-size: 24pt;
}

/* postcard */

div#postcardContainer
{
    overflow: visible;
    width: 100%;
    height: 100%;
}

div#postcard
{
    position: absolute;
    margin-left: -200px;
    right: 10%;
    bottom: 20%;
    width: 315px;
    height: 420px;
    background-color: transparent;
    background-image: url("../images/tree.png");
    background-repeat: no-repeat;
    background-position: 40% 45%;
    background-size: 315px 420px;
    z-index: 2;
}

p#hint
{
    position: absolute;
    left: 50%;
    margin-left: -154px;
    font-size: 20pt;
    max-width: 350px;
    text-align: center;
    color: rgba(0,0,0,0.45);
    opacity: 0.0;
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transition-property: opacity;
    transition-duration: 0.5s;
    -ms-transition-property: opacity;
    -ms-transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.5s;
    bottom: 5%;
    z-index: 100;
}

div#postcard canvas
{
    position: absolute;
    top: 0px;
    left: 0px;
}

canvas.clearedSnowCanvas
{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1.0;
    z-index: 100;
}

#blizzardContainer{
    overflow: hidden;
}

/* Gratters text and Akvelon logo*/
#textContainer{
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 1100px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

#text{
    position: absolute;
    bottom: 20%;
    left: 20px;
    z-index: 100;
}
#logoContainer
{
    position: absolute;
    width: 420px;
    bottom: 15%;
    right: 10%;
}

#akvelon{
    position: relative;
    padding-bottom: 20px;
    z-index: 100;
}

@media screen and (min-device-width: 1920px) {
    img#snowman
    {
        width: 1920px;
        height: 1080px;
        background-image: url("../images/bg.png");
    }
}

/* Orientation/resolution specific properties */

@-ms-viewport {
    user-zoom: fixed;
    max-zoom: 1;
    min-zoom: 1;
}


@media screen and (max-device-width: 768px) {
    img#snowman
    {
        width: 100%;
        height: 100%;
        background-image: url("../images/mobile/bg_portrait.jpg");
        background-size: 100% 100%;
    }

    div#snowmanContainer
    {
        margin-left: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }
}

@media screen and (orientation: portrait) and (max-device-width: 768px) {
    @-ms-viewport {
        width: 480px;
    }
}

@media screen and (orientation: portrait)and (min-device-width: 768px) and (max-device-width: 768px) {
    @-ms-viewport {
        width: 768px;
    }
}

@media screen and (orientation: landscape) and (max-device-width: 768px) {
    @-ms-viewport {
        width: 800px;
    }

    img#snowman
    {
        background-image: url("../images/mobile/bg_land.jpg");
    }

    #gratters{
        left: 10px;
        margin: auto 0;
    }

    #akvelon{
        top: 90%;
    }
}


@media screen and (min-device-width: 1024px),
    screen and (min-device-height: 1024px){



    div#postcard
    {
        width: 420px;
        height: 560px;
        background-size: 420px 560px;
    }
}